.review .box-container .box{
    text-align: center;
    padding: 1rem 1rem;
}

.review .box-container .box .card{
    background: #13131a;    
    border: 0.1rem solid #ff0000;
}

.review .box-container .box .card .quote{
    width: 50px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 170px;
}

.review h2{
    margin-top: 1rem;
    font-weight: bold;
}

.review .box-container .box p{
    font-size: 1rem;
    line-height: 1.5;
    color: #ccc;
    padding: 1rem 0;
}

.review .box-container .box .user{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.review .box-container .box h4{
    padding: 1rem 0;
    font-size: 1rem;
    color: #fff;
}

.review .box-container .box .stars{
    color: #ffc107;
}