.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg,rgb(0 0 0 / 90%), rgb(68 68 68 / 35%)), url(../../assets/Images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home span{
    color: #ffc107;
    text-transform: uppercase;
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgba(74, 67, 67, 0.788);
}